body {
    font-family: Arial, sans-serif;
    background: #f0f0f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 5%;
    padding-top: 2%;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
}

button {
    margin-top: 3%;
    width: 100%;
    padding: 10px;
    background: #4a5cff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3c49d1;
}